.home-container {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
  }
  
  .title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
  }
  
  .back-button {
    background-color: #3a3141ab;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .back-button:hover {
    background-color: #120f15ce;
  }
  
  .data-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    gap: 20px; /* Espacio entre los cuadros */
    justify-items: center;
  }
  
  .card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px); /* Efecto al pasar el ratón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .card-title {
    font-size: 1.2rem;
    color: #7a100d;
    margin-bottom: 10px;
  }
  
  .card-info {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
  }
  